<%- include('adminHeader') %>
    <style>
        .form-tag {
            background: #f6f7f8;
            border: 1px solid #d6d6d6;
            width: 100%;
            padding: 50px;
            margin: 0 0 4px 0;
        }
        
        input:not([type]):focus:not([readonly]),
        input[type=text]:not(.browser-default):focus:not([readonly]),
        input[type=password]:not(.browser-default):focus:not([readonly]),
        input[type=email]:not(.browser-default):focus:not([readonly]),
        input[type=url]:not(.browser-default):focus:not([readonly]),
        input[type=time]:not(.browser-default):focus:not([readonly]),
        input[type=date]:not(.browser-default):focus:not([readonly]),
        input[type=datetime]:not(.browser-default):focus:not([readonly]),
        input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
        input[type=tel]:not(.browser-default):focus:not([readonly]),
        input[type=number]:not(.browser-default):focus:not([readonly]),
        input[type=search]:not(.browser-default):focus:not([readonly]),
        textarea.materialize-textarea:focus:not([readonly]) {
            border-bottom: 2px solid #1e88e5;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        
        .form-group {
            margin-bottom: 40px;
        }
        
        .form-group input[type="text"],
        .form-group textarea {
            background: #fff;
            border: 1px solid #d6d9dc;
            border-radius: 3px;
            width: 100%;
            padding: 7px;
            font-size: 14px;
            box-sizing: border-box;
        }
        
        .form-group textarea {
            width: 100%;
            min-height: 400px;
            resize: none;
        }
        
        .form-group input[type="text"]:focus,
        .form-group textarea:focus {
            border: 2px solid #1e88e5;
            outline: none;
            outline-color: none;
            outline-style: none;
            outline-width: 0;
        }
    </style>
    <script>
        function goBack() {
            window.history.back()
        }
    </script>
    <main class="mt mb show-form">
        <div class="row">
            <%- include('dashboard-side') %>
                <div class="col l9">
                    <%  posts.forEach(function (post) { %>
                        <div class="col s12 m6 l4">
                            <div class="card">
                                <div class="card-image">
                                    <img src="<%= post.image %> " alt="<%= post.title %>" style="height: 150px;">
                                    <h2 class="card-title post-heading">
                                        <%= post.title %>
                                    </h2>
                                </div>
                                <div class="card-content post-content">
                                    <%- post.sanitizeHTML.substring(0,80) %>...
                                        <br/><span class="badge"><small><%= post.day %> day(s) ago</small></span>
                                </div>

                                <div class="card-action">
                                    <a href="posts/?<%= post._id %>" class="btn blue">update</a>
                                    <a href="posts/?<%= post._id %>" class="btn blue">edit</a>
                                    <form action="posts/<%= post._id %>?_method=DELETE" method="POST">
                                        <button class="btn blue">delete</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <%  }) %>
                </div>
        </div>

    </main>